In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset)

In [6]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [12]:
! pip install lightgbm
from sklearn.model_selection import GridSearchCV
import lightgbm as ltb
param_grid={'boosting_type':['gbdt','dart'],'n_estimators':[100,200,300],'max_depth':[15,30,45,60],'num_leaves':[10,20,30,40],'learning_rate':[0.1],'random_state':[None]}
grid= GridSearchCV(ltb.LGBMRegressor,param_grid,refit=True,verbose=3,n_jobs=-1)   
grid.fit(independent,dependent)

Requirement already satisfied: lightgbm in c:\users\jayarajan\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: scipy in c:\users\jayarajan\anaconda3\lib\site-packages (from lightgbm) (1.9.3)
Requirement already satisfied: numpy in c:\users\jayarajan\anaconda3\lib\site-packages (from lightgbm) (1.23.4)

TypeError: Cannot clone object. You should provide an instance of scikit-learn estimator instead of a class.

In [ ]:
re=grid.cv_results_

In [ ]:
print("The R_score value for the best parameter{}:".format(grid.best_params_))

In [ ]:
table=pd.DataFrame.from_dict(re)
table

In [ ]:
age_input=int(input("Enter age: "))
bmi_input=float(input("Enter bmi: "))
children_input=float(input("Enter children: "))
gender_male_input=int(input("Enter Gender: "))
gender_female_input=int(input("Enter Gender: "))
smoker_yes_input=int(input("Enter smoker: "))
smoker_no_input=int(input("Enter smoker: "))

In [ ]:
future_predict=grid.predict([[age_input,bmi_input,children_input,gender_male_input,gender_female_input,smoker_yes_input,smoker_no_input]])
print("Future Prediction{}".format(future_predict))